body  {
    background-image: linear-gradient(to bottom, #F4F6FA, #F4F6FA 50%, white 50%);
    font-family: 'Roboto', sans-serif;
    background-attachment:fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.mainContent {
    display: flex;
    height: 100vh;
}

/* Filter element */

.filterElement {
    margin-right: 1em;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.50);
}

.filterElement > h1 {
    margin: 0;
    padding: .5em .7em;
    color: #5068B5;
    font-weight: 900;
    font-size: 40px;
}

.filterElement > h2 {
    margin: 0;
    padding: .5em 1.2em;
    color: #5068B5;
    font-weight: 900;
    font-size: 25px;
}

.left {
    width: 20%;
}

/* Overview element */

.overviewElement {
    background-color: white;
    border-radius: 1em;
    margin: 3em 0 0 1em;
    height: 70%;
    width: 97%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.50);
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5em;
}

.buttonGroup > a {
    text-decoration: none;
    text-align: center;
    margin: 2em 0.5em 0 0;
    padding: .5em 1em;
    background-color: white;
    color: #5068B5;
    border-color: #5068B5;
    border: .2em solid;
    border-radius: .3em;
    cursor: pointer;
}

a:hover {
    background-color: #5068B5;
    color: white;
    border-color: #5068B5;
    border-radius: .3em;
}

.right {
    width: 80%;
}

.right > h1 {
    margin: 1em 1em -1em 1em;
    color: #5068B5;
    font-size: 40px;
}