body  {
    background-image: linear-gradient(to bottom, #F4F6FA, #F4F6FA 50%, white 50%);
    font-family: 'Roboto', sans-serif;
    background-attachment:fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.mainContent {
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* Filter element */

.filterElement {
    margin-right: 1em;
    overflow: scroll;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.50);
}

.filterElement > img:first-of-type {
    padding: 1em 4em 2em;
    width: 150px;
    height: 150px;
}

.filterTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1em;
}

.filterTitle > h2 {
    margin: 0;
    padding: .8em 1.2em;
    color: #5068B5;
    font-weight: 900;
    font-size: 22px;
}

.filterTitle > img {
    width: 16px;
    height: 16px;
}

.left {
    width: 20%;
}

/* Overview element */

.overviewElement {
    display: flex;
    align-items: flex-start;
    height: 75%;
    width: 98%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5em;
    margin-top: 4em;
}

.buttonGroup > a {
    text-decoration: none;
    text-align: center;
    margin: 1em 0.5em 0 0;
    padding: .5em 1em;
    background-color: white;
    color: #5068B5;
    border-color: #5068B5;
    border: .2em solid;
    border-radius: .3em;
    cursor: pointer;
}

.buttonGroup > a:hover {
    background-color: #5068B5;
    color: white;
    border-color: #5068B5;
    border-radius: .3em;
}

.right {
    width: 80%;
}

.topbar > h1 {
    margin: 1em 1em -1em 1em;
    color: #5068B5;
    font-size: 40px;
}

/* Search bar */

.searchTerm {
    margin: 1.5em .8em 0 0;
    border: 3px solid #5068B5;
    width: 400px;
    padding: 1em 1em;
    border-radius: 5px;
}

.searchTerm::placeholder {
    color: #5068B5;
    font-weight: 400;
    opacity: .5;
    font-size: 1.4em;
}

.searchTerm:focus{
    color: #5068B5;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* shard overview */

.container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: white;
    overflow: scroll;
    border-radius: 1em;
    margin: 1.5em 0 0 1em;
    padding-left: 1em;
    height: 100%;
    width: 70%;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.50);
}

.mainContainer {
    background-color: white;
    border-radius: 1em;
    margin: 1.5em 0 0 1em;
    padding-left: 1em;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.50);
}

.mainContainer > img {
    width: 95%;
    margin-top: 2em;
    height: auto;
}
  
.article {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px 10px;
    opacity: 0.5;
    width: 21%;
    color: #000;
    -webkit-box-sizing  : border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.article:hover {
    opacity: 1;
}

.article img {
    width: 100px;
    height: auto;
}

.article h3 {
    color: #000;
    margin: 0;
}

.article p {
    margin: 0;
}

/* Checkboxes */

ul.styleCheckbox {
    list-style: none;
    margin: -1em 0 -1em 0;
    padding: 1em 1.4em;
}
ul.styleCheckbox li{
  display: inline;
}
ul.styleCheckbox li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid #5068B5;
    color: #5068B5;
    border-radius: 8px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.styleCheckbox li label {
    padding: 10px 14px;
    cursor: pointer;
}

ul.styleCheckbox li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    font-size: 12px;
    transition: transform .3s ease-in-out;
}

ul.styleCheckbox li input[type="checkbox"]:checked + label::before {
    padding: 2px 6px 2px 2px;
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.styleCheckbox li input[type="checkbox"]:checked + label {
    border: 2px solid #5068B5;
    background-color: #5068B5;
    color: #fff;
    transition: all .2s;
}

ul.styleCheckbox li input[type="checkbox"] {
  display: absolute;
}
ul.styleCheckbox li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* detail Page */

.detailsWrap {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1em;
    margin: 1.5em 0 0 1em;
    width: 50%;
    height: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.50);
}

.detailsWrap > img {
    height: 150px;
    width: auto;
    margin: 1em 7em 0em 9.2em;
}

.details {
    padding: 2px;
    text-align: center;
    width: 32%;
    color: #000;
}

.details > h2 {
    font-size: .9em;
    font-weight: bold;
    margin: 0 0 .5em 0;
}

.details > p {
    opacity: 0.5;
    font-size: .8em;
    margin: 0;
}

/* Legenda */

.legenda {
    margin-top: 4em;
    margin-left: 3em;
}

.legenda > p {
    margin: 0;
    padding-bottom: 5px;
    color: #5068B5;
    font-size: .8em;
}

.legenda > img {
    width: 150px;
    height: auto;
}