<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Project Thorikos</title>
    <meta name="description" content="project-thorikos">
    <meta name="Roy Kuijper" content="Project">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css/stylesheet.css">

</head>

<body>
    <div class="mainContent">  
        <div class="detailPage">
            <div class="detailTopbar">
                <a href="./overview.html" class="back">
                    <img src="../assets/images/return.png" />
                    <h1>Project Thorikos</h1>
                </a>
                <div class="buttonGroup">
                    <a href="#">PDF</a>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    </div>
                </div>
            </div>
            <div class="shardDetails">
                <div class="detailsContainer">
                    <div class="image">
                        <img src="../assets/images/vase.png"/>
                    </div>
                    <div class="detailsWrap">
                        <div class="details">
                            <h2>ID</h2>
                            <p>2207</p>
                        </div>
                        <div class="details">
                            <h2>Initials Founder</h2>
                            <p>VA</p>
                        </div>
                        <div class="details">
                            <h2>Excavation Date</h2>
                            <p>24-07-12</p>
                        </div>
                        <div class="details">
                            <h2>Context</h2>
                            <p>T12-101-4</p>
                        </div>
                        <div class="details">
                            <h2>Year</h2>
                            <p>2012</p>
                        </div>
                        <div class="details">
                            <h2>Shape Object</h2>
                            <p>Lekane</p>
                        </div>
                        <div class="details">
                            <h2>Shape Details</h2>
                            <p>Base</p>
                        </div>
                        <div class="details">
                            <h2>Ware</h2>
                            <p>Black Glaze</p>
                        </div>
                        <div class="details">
                            <h2>Production Place</h2>
                            <p>Local</p>
                        </div>
                        <div class="details">
                            <h2>Conservation</h2>
                            <p>Poor</p>
                        </div>
                        <div class="details">
                            <h2>Fragments</h2>
                            <p>1</p>
                        </div>
                        <div class="details">
                            <h2>Chronology</h2>
                            <p>Archaic</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/scripts.js"></script>
</body>

</html>