<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Project Thorikos</title>
    <meta name="description" content="project-thorikos">
    <meta name="Roy Kuijper" content="Project">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css/stylesheet.css">

</head>

<body>

    <div class="mainContent">
        <div class="left">
            <div class="filterElement">

                <img src="../assets/images/logo.jpeg"></img>

                <div class="filterTitle">
                    <h2>Year</h2>
                    <img src="../assets/images/back.png"></img>
                </div>
                    <ul class="styleCheckbox">
                        <li><input type="checkbox" name="Season" class="checkbox" value="2012" id="2012"><label for="2012">2012</label></li>
                        <li><input type="checkbox" name="Season" class="checkbox" value="2013" id="2013"><label for="2013">2013</label></li>
                        <li><input type="checkbox" name="Season" class="checkbox" value="2014" id="2014"><label for="2014">2014</label></li>
                        <li><input type="checkbox" name="Season" class="checkbox" value="2015" id="2015"><label for="2015">2015</label></li>
                    </ul>
                <div class="filterTitle">
                    <h2>Shape Object</h2>
                    <img src="../assets/images/back.png"></img>
                </div>
                    <ul class="styleCheckbox">
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Alabastron" id="Alabastron"><label for="Alabastron">Alabastron</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Amphora" id="Amphora"><label for="Amphora">Amphora</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Amphora stopper" id="amphora-stopper"><label for="amphora-stopper">Amphora stopper</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Amphoriskos" id="Amphoriskos"><label for="Amphoriskos">Amphoriskos</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Antefix" id="Antefix"><label for="Antefix">Antefix</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Aryballos" id="Aryballos"><label for="Aryballos">Aryballos</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Ashlar" id="Ashlar"><label for="Ashlar">Ashlar</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Askos" id="Askos"><label for="Askos">Askos</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Basin" id="Basin"><label for="Basin">Basin</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Beehive" id="Beehive"><label for="Beehive">Beehive</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Bin" id="Bin"><label for="Bin">Bin</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Bolsal" id="Bolsal"><label for="Bolsal">Bolsal</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Bowl" id="Bowl"><label for="Bowl">Bowl</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Brasier" id="Brasier"><label for="Brasier">Brasier</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Brick" id="Brick"><label for="Brick">Brick</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Cheese pot" id="Cheese-pot"><label for="Cheese-pot">Cheese pot</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Chytra" id="Chytra"><label for="Chytra">Chytra</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Cistern lining" id="Cistern-lining"><label for="Cistern-lining">Cistern lining</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Clay lump" id="Clay-lump"><label for="Clay-lump">Clay lump</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Closed shape" id="Closed-shape"><label for="Closed-shape">Closed shape</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Collared jar" id="Collared-jar"><label for="Collared-jar">Collared jar</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Cooking bell" id="Cooking-bell"><label for="Cooking-bell">Cooking bell</label></li>
                        <li><input type="checkbox" name="Shape-Object" class="checkbox" value="Cooking jug" id="Cooking-jug"><label for="Cooking-jug">Cooking jug</label></li>
                    </ul>
                <div class="filterTitle">
                    <h2>Chronology</h2>
                    <img src="../assets/images/back.png"></img>
                </div>
                    <ul class="styleCheckbox">
                        <li><input type="checkbox" name="Chronology" class="checkbox" value="Archaic" id="Archaic"><label for="Archaic">Archaic</label></li>
                        <li><input type="checkbox" name="Chronology" class="checkbox" value="Archaic/Classical" id="Archaic/Classical"><label for="Archaic/Classical">Archaic/Classical</label></li>
                        <li><input type="checkbox" name="Chronology" class="checkbox" value="Archaic/Hellenistic" id="Archaic/Hellenistic"><label for="Archaic/Hellenistic">Archaic/Hellenistic</label></li>
                        <li><input type="checkbox" name="Chronology" class="checkbox" value="Archaic/Late Antique" id="Archaic/Late Antique"><label for="Archaic/Late Antique">Archaic/Late Antique</label></li>
                    </ul>
                <div class="filterTitle">
                    <h2>Conservation</h2>
                    <img src="../assets/images/back.png"></img>
                </div>
                    <ul class="styleCheckbox">
                        <li><input type="checkbox" name="Conservation" class="checkbox" value="Very poor" id="very-poor"><label for="very-poor">Very poor</label></li>
                        <li><input type="checkbox" name="Conservation" class="checkbox" value="Poor" id="poor"><label for="poor">poor</label></li>
                        <li><input type="checkbox" name="Conservation" class="checkbox" value="Medium" id="medium"><label for="medium">medium</label></li>
                        <li><input type="checkbox" name="Conservation" class="checkbox" value="Good" id="good"><label for="good">good</label></li>
                    </ul>
                <div class="filterTitle">
                    <h2>Ware</h2>
                    <img src="../assets/images/back.png"></img>
                </div>
                    <ul class="styleCheckbox">
                        <li><input type="checkbox" name="Ware" class="checkbox" value="Red" id="red"><label for="red">red</label></li>
                        <li><input type="checkbox" name="Ware" class="checkbox" value="Blue" id="blue"><label for="blue">blue</label></li>
                        <li><input type="checkbox" name="Ware" class="checkbox" value="Yellow" id="yellow"><label for="yellow">yellow</label></li>
                        <li><input type="checkbox" name="Ware" class="checkbox" value="Green" id="green"><label for="green">green</label></li>
                        <li><input type="checkbox" name="Ware" class="checkbox" value="Brown" id="brown"><label for="brown">brown</label></li>
                        <li><input type="checkbox" name="Ware" class="checkbox" value="Remaining" id="remaining"><label for="remaining">remaining</label></li>
                    </ul>
            </div>
        </div>
    
        <div class="right">
            <div class="topbar">
                <h1>Project Thorikos</h1>
                <div class="buttonGroup">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    </div>
                    <a href="../index.html">Grid</a>
                    <a href="overview.html">Overview</a>   
                </div>
            </div>
            <div class="overviewElement">
                <div class="container">

                </div>
                <div class="detailsWrap">

                </div>
            </div>
        </div>
    </div>

    <script src="../main.js" type="module"></script>
</body>

</html>