<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Project Thorikos</title>
    <meta name="description" content="project-thorikos">
    <meta name="Roy Kuijper" content="Project">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="/project-thorikos/assets/css/stylesheet.css">

</head>

<body>

    <div class="mainContent">
        <div class="left">
            <div class="filterElement">
                <h1>Filter</h1>
            </div>
        </div>
    
        <div class="right">
            <h1>Project Thorikos</h1>
            <div class="overviewElement">
                <div class="buttonGroup">
                    <a href="../index.html">Grid</a>
                    <a href="overview.html">Overview</a>   
                </div>
            </div>
        </div>
    </div>

    <script src="js/scripts.js"></script>
</body>

</html>